* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background:#081C24;    
    font-family: "Raleway", sans-serif;
    color: #ffffff
}

#title {
    background: url('img/orange-yellow-green-and-blue-abstract-painting-1704120.jpg') no-repeat ;
    
    background-size: cover;
  
    background-size: 100% 100%;
    text-align: center;
    min-height: 500px;
    border-radius: 8px;
            
}



#title h1 {
   
    font-size: 5.7em;
    /* position: absolute; */
    position: relative;
    top: 30px;
   
    
}

#title p {
    /* margin: 100px 50px; */
    font-size: 2.5em;
    padding: 20px;
    margin-top: 30px;
    position: relative;
    top: 60px;   
    
}

#title h3 {
    position: relative;
    top:50px;
    font-size: 25px;
}

#container {
    max-width: 98%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 20px; */
    /* margin: 0px auto; */
    /* text-align: center; */
}


#container h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.8em;
    font-size: 2.5em;
    text-align: center;
}

#container .photo-row , .photo-row2  {
    text-align: center;
    border: red; 
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    
}

#container .photos {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
       
}

footer {
    /* position: absolute; */
    margin-top: 30px;
    text-align: center;
    line-height: 2em;

}
footer img {
    
   margin-top: 20px;
   padding: 0px;
   
}

footer img:last-child{
    margin-left: 10px;
}
